Repository RefereeAI/referai, pull requests merged in 2025-05, with the labels that each got.

#36 Testing/frontend
  frontend/package.json
  frontend/setupTests.ts
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/MainPage.tsx
  frontend/src/pages/RegisterPage.tsx
  frontend/src/pages/UploadPage.tsx
  frontend/tests/LoginPage.test.tsx
  frontend/tests/MainPage.test.tsx
  frontend/tests/RegisterPage.test.tsx
  frontend/tests/UploadPage.test.tsx
  frontend/tsconfig.json
  frontend/videos/SampleVideo_360x240_1mb.mp4
  frontend/videos/SampleVideo_720x480_1mb.mp4
  frontend/vite.config.js
  frontend/vitest-env.d.ts
  pnpm-lock.yaml
Labels: frontend, testing

#40 Feature/error handling
  backend/app/action/routes.py
  backend/main.py
  frontend/src/App.tsx
  frontend/src/components/Navbar.tsx
  frontend/src/components/Toast.tsx
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/MainPage.tsx
  frontend/src/pages/RegisterPage.tsx
  frontend/src/pages/UploadPage.tsx
Labels: frontend, refactor

#42 docs: add database migration documentation
  .env.example
  backend/alembic/versions/037d3b47c853_new_migration.py
  backend/alembic/versions/13bee8b1270b_updates_on_prediction.py
  backend/alembic/versions/1c80e8273c95_updates_on_prediction_3.py
  backend/alembic/versions/4b457625703a_update_prediction_model_to_use_json_.py
  backend/alembic/versions/4cf1f5fb5131_new_migration.py
  backend/alembic/versions/55c9f2b237a2_add_prediction.py
  backend/alembic/versions/61466ff8aa9b_changes_on_clip_model.py
  backend/alembic/versions/722644abde56_populate_initial_data.py
  backend/alembic/versions/7e0b4d682552_initial_migration.py
  backend/alembic/versions/7e35f45d646c_initial_migration.py
  backend/alembic/versions/9a6559c54147_updates_on_prediction_2.py
  backend/alembic/versions/f709c2569bae_user_account_to_user.py
  backend/alembic/versions/videos/clip_0.mp4
  backend/alembic/versions/videos/clip_1.mp4
  docs/DATABASE_MIGRATION.md
Labels: documentation, configuration, database

#44 feat: add navigation to upload page
  docs/DATABASE_MIGRATION.md
  frontend/src/components/Navbar.tsx
  frontend/src/context/SelectedVideosContext.tsx
  frontend/src/pages/MainPage.tsx
  frontend/src/pages/UploadPage.tsx
Labels: frontend

#49 fix: add encrypted password for sample user and improves sample predi…
  backend/alembic/versions/722644abde56_populate_initial_data.py
Labels: bug

#47 Feature/project documentation
  CONTRIBUTING.md
  README.md
  docs/DATABASE_MIGRATION.md
  docs/INSTALLATION.md
  docs/TESTING.md
  docs/USAGE.md
  frontend/src/pages/MainPage.tsx
Labels: documentation

#53 fix: fix dark and light mode bug
  frontend/src/index.css
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/MainPage.tsx
  frontend/src/pages/RegisterPage.tsx
  frontend/src/pages/UploadPage.tsx
Labels: bug, frontend

#54 Feature/deployment
  .gitattributes
  backend/.dockerignore
  backend/Dockerfile
  backend/Procfile
  backend/app/models/foul/best_xgb_model_mvit.pkl
  backend/app/models/foul/best_xgb_x3d.pkl
  backend/app/models/foul/modelo_xgb_mvit.onnx
  backend/app/models/foul/modelo_xgb_slowfast.onnx
  backend/app/models/foul/modelo_xgb_slowfast.pkl
  backend/app/models/foul/modelo_xgb_x3d.onnx
  backend/app/models/mvit.onnx
  backend/app/models/predictor.py
  backend/app/models/severity/modelo_xgboost_severity_mvit.onnx
  backend/app/models/severity/modelo_xgboost_severity_mvit_02.pkl
  backend/app/models/severity/modelo_xgboost_severity_slowfast.onnx
  backend/app/models/severity/modelo_xgboost_severity_slowfast_02.pkl
  backend/app/models/severity/modelo_xgboost_severity_x3d.onnx
  backend/app/models/severity/modelo_xgboost_severity_x3d_02.pkl
  backend/app/models/slowfast.onnx
  backend/app/models/x3d.onnx
  backend/app/predict/routes.py
  backend/main.py
  backend/requirements.txt
  backend/runtime.txt
  db/database.sql
  docker-compose.yml
  frontend/.dockerignore
  frontend/Dockerfile
  frontend/package.json
  frontend/src/components/Toast.tsx
Labels: deployment

#55 Feature/actions
  .github/workflows/docker-deploy.yml
  backend/.dockerignore
  backend/Dockerfile
  backend/main.py
  backend/requirements.txt
  backend/tests/conftest.py
  backend/tests/test_routes/test_predict.py
  docker-compose.yml
  frontend/Dockerfile
Labels: configuration, deployment
