Repository RefereeAI/referai, pull requests merged in 2025-04, with the labels that each got.

#8 feat: scaffold initial react app structure
  .gitignore
  frontend/.gitignore
  frontend/README.md
  frontend/eslint.config.js
  frontend/index.html
  frontend/package.json
  frontend/public/vite.svg
  frontend/src/App.css
  frontend/src/App.jsx
  frontend/src/assets/react.svg
  frontend/src/index.css
  frontend/src/main.jsx
  frontend/vite.config.js
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: configuration, frontend

#9 Feature/python fastapi app
  .gitignore
  backend/app/api/v1/api.py
  backend/app/api/v1/endpoints/user.py
  backend/main.py
  backend/requirements.txt
  frontend/.gitignore
  frontend/README.md
  frontend/eslint.config.js
  frontend/index.html
  frontend/package.json
  frontend/public/vite.svg
  frontend/src/App.css
  frontend/src/App.jsx
  frontend/src/assets/react.svg
  frontend/src/index.css
  frontend/src/main.jsx
  frontend/vite.config.js
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: configuration, backend

#17 feat: inital authentication logic
  .gitignore
  backend/app/auth/models.py
  backend/app/auth/routes.py
  backend/app/auth/schemas.py
  backend/app/auth/utils.py
  backend/main.py
  backend/requirements.txt
  frontend/.gitignore
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/App.tsx
  frontend/src/pages/Login.tsx
  frontend/src/services/auth.ts
  frontend/src/vite-env.d.ts
  pnpm-lock.yaml
Labels: frontend, backend, api, authentication

#18 Feature/main interface
  frontend/package.json
  frontend/postcss.config.js
  frontend/src/App.tsx
  frontend/src/index.css
  frontend/src/pages/Login.tsx
  frontend/src/pages/MainPage.tsx
  frontend/tailwind.config.js
  frontend/vite.config.js
  pnpm-lock.yaml
Labels: enhancement, frontend

#19 Feature/upload select clips
  frontend/src/App.tsx
  frontend/src/context/SelectedVideosContext.tsx
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/MainPage.tsx
  frontend/src/pages/UploadPage.tsx
  frontend/videos/SampleVideo_360x240_1mb.mp4
  frontend/videos/SampleVideo_720x480_1mb.mp4
Labels: frontend

#20 Feature/frontend api integration
  .gitignore
  backend/main.py
  backend/requirements.txt
  backend/tests/__init__.py
  backend/tests/test_upload.py
  frontend/index.html
  frontend/package.json
  frontend/src/api/upload.ts
  frontend/src/pages/MainPage.tsx
  frontend/src/pages/UploadPage.tsx
  pnpm-lock.yaml
Labels: frontend, backend, api, testing

#23 Docs/add jupyter notebooks
  notebooks/Mvit_Features.ipynb
  notebooks/Slowfast_Features.ipynb
  notebooks/Video_augmentation_Offence.ipynb
  notebooks/Video_augmentation_severity.ipynb
  notebooks/X3D_Features.ipynb
  notebooks/XGBoost_Model-Offence.ipynb
  notebooks/XGBoost_Severity_model.ipynb
Labels: documentation, model
